@charset "UTF-8";


body {
  margin: 0;
}

/**** MARGINS & PADDINGS ****/
.mr-xs{margin-right:3px} 
.mr-sm{margin-right:5px} 
.mr-md{margin-right:10px} 
.mr-lg{margin-right:15px} 

.ml-xs{margin-left:3px} 
.ml-sm{margin-left:5px} 
.ml-md{margin-left:10px} 
.ml-lg{margin-left:15px}

.mt-xs{margin-top:3px} 
.mt-sm{margin-top:5px} 
.mt-md{margin-top:10px} 
.mt-lg{margin-top:15px} 

.mb-xs{margin-bottom:3px} 
.mb-sm{margin-bottom:5px} 
.mb-md{margin-bottom:10px} 
.mb-lg{margin-bottom:15px} 

.ma-xs{margin:3px} 
.ma-sm{margin:5px} 
.ma-md{margin:10px} 
.ma-lg{margin:15px} 

.nmt {margin-top:0}
.nmb {margin-bottom:0}
.nml {margin-left:0}
.nmr {margin-right:0}

.pr-xs{padding-right:3px} 
.pr-sm{padding-right:5px} 
.pr-md{padding-right:10px} 
.pr-lg{padding-right:15px} 

.pl-xs{padding-left:3px} 
.pl-sm{padding-left:5px} 
.pl-md{padding-left:10px} 
.pl-lg{padding-left:15px}

.pt-xs{padding-top:3px} 
.pt-sm{padding-top:5px} 
.pt-md{padding-top:10px} 
.pt-lg{padding-top:15px}

.pb-xs{padding-bottom:3px} 
.pb-sm{padding-bottom:5px} 
.pb-md{padding-bottom:10px} 
.pb-lg{padding-bottom:15px}

.pa-xs{padding:3px} 
.pa-sm{padding:5px} 
.pa-md{padding:10px} 
.pa-lg{padding:15px} 

.np{padding:0}
.npl{padding-left:0}
.npr{padding-right:0}
.npb{padding-bottom:0}
.npt{padding-top: 0}




header {
  margin-top: 0;
  background-color: #769fc5;
  text-align: center;
  padding: 20px 5px 15px;
  margin-bottom: 30px
}
header h1 {
  margin-top: 0;
  font-weight: 600;
  letter-spacing: 2px;
  color: #ffffff;
}


footer {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  padding: 15px 10px;
  background-color: #3b433c;
  color: #ffffff;
  font-weight: 900;
}


@media (min-width: 768px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}


em.invalid {
  color: #ff0000;
  font-size: 12px;
}


/* ALERT DE CONFIRMAÇAO */
.btn-notificacao-sim {
	color: #ffffff !important;
	background-color: rgb(50, 118, 177) !important;
	outline: none !important;
}
.btn-notificacao-sim:hover {
	background-color: #3276b1 !important;
}
.btn-notificacao-nao {
	color: #ffffff !important;
	background-color: rgba(0, 0, 0, 0.7) !important;
	outline: none !important;
}
.btn-notificacao-nao:hover {
	background-color: rgba(0, 0, 0, 1) !important;
}
